* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {

	width: 100%;
	overflow-x: hidden;
background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-attachment: fixed;
	background-color: purple;
	

background-size: cover;

}
.container{
	min-height: calc(100vh - 136px);
	
}
.table td{
	color :white;
}



footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}